In [ ]:
import pandas as pd
n = int(input("Please enter an integer value greather than 0: "))

Please enter an integer value greather than 0: 10

In [ ]:
even = []
odd = []
fibonacci = [0,1]
if n > 0:
  for i in range(n):
    even.append(2*i)
    odd.append(2*i+1)
    if i>1: fibonacci.append(fibonacci[i-2]+fibonacci[i-1])
else:
  print("You did not enter an integer value greather than 0")

In [ ]:
even_numbers = list(even)
even_numbers

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
odd_numbers = list(odd)
odd_numbers

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
fibo_numbers = list(fibonacci)
fibo_numbers

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
len(even) == len(odd) == len(fibonacci)

True

In [ ]:
dictionary = {'Even':even_numbers,'Odd':odd_numbers,'Fibonacci':fibo_numbers}

In [ ]:
df = pd.DataFrame(data = dictionary)
df

   Even  Odd  Fibonacci
0     0    1          0
1     2    3          1
2     4    5          1
3     6    7          2
4     8    9          3
5    10   11          5
6    12   13          8
7    14   15         13
8    16   17         21
9    18   19         34